<body>
  <div class="container">
    <div class="options">
      <button>Help</button>
      <button>About</button>
      <button>Privacy</button>
      <button>Contact</button>
      <button>Terms</button>
      <button>Blog</button>
    </div>
    <div class="copyright">
      <div><p>Copyright @ 2022 CollegeSearch.in All rights reserved</p></div>
      <div>
        <p>
          Reproduction in whole or in any form without express written
          permission is prohibited.
        </p>
      </div>
    </div>
  </div>
</body>
