<h2>Similar hostels you might like</h2>
<div class="row1">
    <a routerLink="../hostel-details">
      <div class="card">
        <div class="pics">
          <div class="big">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (1).jpeg"alt=""/>
            <div class="line">
              <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (2).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (3).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (4).jpeg"alt=""/>
            </div>
          </div>
          <div class="small">
            <div class="line">
              <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (2).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM.jpeg" alt="">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (1).jpeg"alt=""/>
            </div>
          </div>
        </div>
        <div class="r1">
          <div class="tag">
            <h3>Sanju Hostel</h3>
            <div class="rating">4.5</div>
          </div>
        </div>
        <div class="r2">
          <div class="tag">
            <p>Near Aura Mall Trilanaga Behind Bank of Baroda, Bhopal</p>
          </div>
        </div>
        <div class="r3">
          <div class="tag">
            <span>
              <i class="fa fa-wifi" aria-hidden="true"></i> Wifi
            </span>
            <span>
              <i class="fa fa-user-md" aria-hidden="true"></i> Doctor on
              call
            </span>
            <span>
              <i class="fa fa-product-hunt" aria-hidden="true"></i> Parking
            </span>
            <span>
              <i class="fa fa-coffee" aria-hidden="true"></i>
              Breakfast
            </span>
          </div>
        </div>
        <div class="r4">
          <div class="tag">
            <div class="rate">Rs 3000/-</div>
            <div class="colorTags">
              <div class="pink">
                <a href="#"> Book Now </a>
              </div>
              <div class="yellow">
                <a href="#"> Contact </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="../hostel-details">
      <div class="card">
        <div class="pics">
          <div class="big">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (1).jpeg"alt=""/>
            <div class="line">
              <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (2).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (3).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (4).jpeg"alt=""/>
            </div>
          </div>
          <div class="small">
            <div class="line">
              <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (2).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM.jpeg" alt="">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (1).jpeg"alt=""/>
            </div>
          </div>
        </div>
        <div class="r1">
          <div class="tag">
            <h3>Raju Hostel</h3>
            <div class="rating">4.5</div>
          </div>
        </div>
        <div class="r2">
          <div class="tag">
            <p>Near Aura Mall Trilanaga Behind Bank of Baroda, Bhopal</p>
          </div>
        </div>
        <div class="r3">
          <div class="tag">
            <span>
              <i class="fa fa-wifi" aria-hidden="true"></i> Wifi
            </span>
            <span>
              <i class="fa fa-user-md" aria-hidden="true"></i> Doctor on
              call
            </span>
            <span>
              <i class="fa fa-product-hunt" aria-hidden="true"></i> Parking
            </span>
            <span>
              <i class="fa fa-coffee" aria-hidden="true"></i>
              Breakfast
            </span>
          </div>
        </div>
        <div class="r4">
          <div class="tag">
            <div class="rate">Rs 3000/-</div>
            <div class="colorTags">
              <div class="pink">
                <a href="#"> Book Now </a>
              </div>
              <div class="yellow">
                <a href="#"> Contact </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="../hostel-details">
      <div class="card">
        <div class="pics">
          <div class="big">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (1).jpeg"alt=""/>
            <div class="line">
              <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (2).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (3).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (4).jpeg"alt=""/>
            </div>
          </div>
          <div class="small">
            <div class="line">
              <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (2).jpeg"alt=""/>
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM.jpeg" alt="">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (1).jpeg"alt=""/>
            </div>
          </div>
        </div>
        <div class="r1">
          <div class="tag">
            <h3>Raju Hostel</h3>
            <div class="rating">4.5</div>
          </div>
        </div>
        <div class="r2">
          <div class="tag">
            <p>Near Aura Mall Trilanaga Behind Bank of Baroda, Bhopal</p>
          </div>
        </div>
        <div class="r3">
          <div class="tag">
            <span>
              <i class="fa fa-wifi" aria-hidden="true"></i> Wifi
            </span>
            <span>
              <i class="fa fa-user-md" aria-hidden="true"></i> Doctor on
              call
            </span>
            <span>
              <i class="fa fa-product-hunt" aria-hidden="true"></i> Parking
            </span>
            <span>
              <i class="fa fa-coffee" aria-hidden="true"></i>
              Breakfast
            </span>
          </div>
        </div>
        <div class="r4">
          <div class="tag">
            <div class="rate">Rs 3000/-</div>
            <div class="colorTags">
              <div class="pink">
                <a href="#"> Book Now </a>
              </div>
              <div class="yellow">
                <a href="#"> Contact </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <div class="button-area">
        <button class="prev" appPrev><</button>
        <button class="next" appNext>></button>
      </div>    
  </div>