<div class="content">
  <div class="exam">
    <h6>Primary Entrance Exam for IIMA</h6>
    <span>CAT</span>
    <span>GMAT</span>
    <span>GRE</span>
    <span>UGC NET JRF</span>
    <span>GATE</span>
  </div>

  <div class="table">
    <table>
      <thead>
        <th>Parameters</th>
        <th>Weightage(%)</th>
      </thead>
      <tbody>
        <tr>
          <td>CAT Score</td>
          <td>25%</td>
        </tr>
        <tr>
          <td>PI</td>
          <td>30%</td>
        </tr>
        <tr>
          <td>WAT</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Bachelors degree</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Work experience</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>10th Marks</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>12th Marks</td>
          <td>5%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cutoff">
    <h5>CAT Cutoff 2020</h5>
    <div class="table2">
      <table>
        <thead>
          <th>Course Name</th>
          <th>Category</th>
          <th>Closing Percentile</th>
        </thead>
        <tbody>
          <tr>
            <td>Post Graduate in Management</td>
            <td>GENERAL</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>NC-OBC</td>
            <td>75</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>PWD/DA</td>
            <td>70</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>SC</td>
            <td>70</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>ST</td>
            <td>60</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h5>CAT Cutoff 2019</h5>
    <div class="table2">
      <table>
        <thead>
          <th>Course Name</th>
          <th>Category</th>
          <th>Closing Percentile</th>
        </thead>
        <tbody>
          <tr>
            <td>Post Graduate in Management</td>
            <td>GENERAL</td>
            <td>80</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>NC-OBC</td>
            <td>75</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>PWD/DA</td>
            <td>70</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>SC</td>
            <td>70</td>
          </tr>
          <tr>
            <td>Post Graduate in Management</td>
            <td>ST</td>
            <td>60</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="more">
      <button>
        MORE
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
