<body>
  <div class="container">
    <h2>Review</h2>
    <div class="table">
      <table>
        <tr>
          <td><img src="/assets/compareColleges/1.jpeg" alt="" /></td>
          <td>
            <h5>Pranav Sharma</h5>
            <p>Student of IIMA 3rd year student</p>
          </td>
        </tr>
        <tr>
          <td class="tag">Overview</td>
          <td class="text">
            Just enter this college, u will get to know what u have achieved.
            Just a single word for campus life, academics, placements and all
            the other things u can think of -- AWESOME....
          </td>
          <td><span class="rating">5.0</span></td>
        </tr>
        <tr>
          <td class="tag">Faculty</td>
          <td class="text">
            Faculty is probably the best aspect of IIM A. They are well
            qualified and extremely knowledgeable. The fields of faculty members
            varies across Marketing, Finance, Public Policy, Economics,
            Information Systems
          </td>
          <td><span class="rating">3.0</span></td>
        </tr>
        <tr>
          <td class="tag">Campus</td>
          <td class="text">
            Wi-Fi is available all across campus. No limit on usage. All
            classrooms are equipped with projectors and are fully Air
            Conditioned. Library is currently under renovation, and will most
            likely be opened by mid of 2018.
          </td>
          <td><span class="rating">3.0</span></td>
        </tr>
        <tr>
          <td class="tag">Placement</td>
          <td class="text">
            Here the placement depends upon students skills and hard work if you
            want high package you are going to work hard.
          </td>
          <td><span class="rating">5.0</span></td>
        </tr>
      </table>

      <div class="more">
        <!-- <span class="more" (click)="showMore()"> -->
        <div class="more2">
          Show More
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="table">
      <table>
        <tr>
          <td><img src="/assets/compareColleges/1.jpeg" alt="" /></td>
          <td>
            <h5>Pranav Sharma</h5>
            <p>Student of IIMA 3rd year student</p>
          </td>
        </tr>
        <tr>
          <td class="tag">Overview</td>
          <td class="text">
            Just enter this college, u will get to know what u have achieved.
            Just a single word for campus life, academics, placements and all
            the other things u can think of -- AWESOME....
          </td>
          <td><span class="rating">5.0</span></td>
        </tr>
        <tr>
          <td class="tag">Faculty</td>
          <td class="text">
            Faculty is probably the best aspect of IIM A. They are well
            qualified and extremely knowledgeable. The fields of faculty members
            varies across Marketing, Finance, Public Policy, Economics,
            Information Systems
          </td>
          <td><span class="rating">3.0</span></td>
        </tr>
        <tr>
          <td class="tag">Campus</td>
          <td class="text">
            Wi-Fi is available all across campus. No limit on usage. All
            classrooms are equipped with projectors and are fully Air
            Conditioned. Library is currently under renovation, and will most
            likely be opened by mid of 2018.
          </td>
          <td><span class="rating">3.0</span></td>
        </tr>
        <tr>
          <td class="tag">Placement</td>
          <td class="text">
            Here the placement depends upon students skills and hard work if you
            want high package you are going to work hard.
          </td>
          <td><span class="rating">5.0</span></td>
        </tr>
      </table>

      <div class="more">
        <!-- <span class="more" (click)="showMore()"> -->
        <div class="more2">
          Show More
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="table">
      <table>
        <tr>
          <td><img src="/assets/compareColleges/1.jpeg" alt="" /></td>
          <td>
            <h5>Pranav Sharma</h5>
            <p>Student of IIMA 3rd year student</p>
          </td>
        </tr>
        <tr>
          <td class="tag">Overview</td>
          <td class="text">
            Just enter this college, u will get to know what u have achieved.
            Just a single word for campus life, academics, placements and all
            the other things u can think of -- AWESOME....
          </td>
          <td><span class="rating">5.0</span></td>
        </tr>
        <tr>
          <td class="tag">Faculty</td>
          <td class="text">
            Faculty is probably the best aspect of IIM A. They are well
            qualified and extremely knowledgeable. The fields of faculty members
            varies across Marketing, Finance, Public Policy, Economics,
            Information Systems
          </td>
          <td><span class="rating">3.0</span></td>
        </tr>
        <tr>
          <td class="tag">Campus</td>
          <td class="text">
            Wi-Fi is available all across campus. No limit on usage. All
            classrooms are equipped with projectors and are fully Air
            Conditioned. Library is currently under renovation, and will most
            likely be opened by mid of 2018.
          </td>
          <td><span class="rating">3.0</span></td>
        </tr>
        <tr>
          <td class="tag">Placement</td>
          <td class="text">
            Here the placement depends upon students skills and hard work if you
            want high package you are going to work hard.
          </td>
          <td><span class="rating">5.0</span></td>
        </tr>
      </table>

      <div class="more">
        <!-- <span class="more" (click)="showMore()"> -->
        <div class="more2">
          Show More
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</body>
