<body>
  <div class="content">
    <h2>Find the best counsellor</h2>
    <h3>100% online counselling for best guidence</h3>
    <p>
      our community will guide you and give the best advice for you career you
      will be
    </p>
    <p>at the best college you never knew you needed</p>
  </div>
  <div class="main">
    <div class="container">
      <div class="box1">
        <img src="/assets/talkToExperts/1.jpeg" alt="" />
        <h3>Evalute your</h3>
        <h3 class="space">interest, strengths and skills</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit.</p>
        <a href="#"
          >learn more  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
        ></a>
      </div>
      <div class="box2">
        <img src="/assets/talkToExperts/2.jpeg" alt="" />
        <h3>Seek our best expert career</h3>
        <h3 class="space">cousnellor and support</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit.</p>
        <a href="#"
          >learn more  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
        ></a>
      </div>
      <div class="box3">
        <img src="/assets/talkToExperts/3.jpeg" alt="" />
        <h3>Choose your career</h3>
        <h3 class="space">path, college and course</h3>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem ipsum dolor sit.</p>
        <a href="#"
          >learn more  <i class="fa fa-long-arrow-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
    <button>Talk to Experts</button>
  </div>
</body>
