<body>
  <div class="content">
    <h2>Helpful reviews</h2>
    <h3>Know the best colleges</h3>
    <p>
      Reset your research strategy by browsing through our lists of top
      colleges, exams,
    </p>
    <p>courses and careers based on your areas of internet.</p>
  </div>

  <section class="product">
    <div class="container">
      <div class="slider-wrap">
        <div class="slider-main">
          <div class="item">
            <div class="navBar">
              <span class="img"
                ><img src="/assets/cardSlider/img1.jpg" alt=""
              /></span>
              <span class="name">Ujjwal Vaishnav</span>
            </div>
            <div class="bio">
              <div class="college">
                Silchar Medical College and Hospital (SMCH), Silchar
              </div>
              <div class="filed">MBBS/Biotech</div>
              <div class="caption">
                <p>
                  "Lots of knowledgeable books are available in our college
                  library. Classroom are well managed. Sports is the strongest
                  facility of our college."
                </p>
              </div>
            </div>
            <div class="rating">
              <div class="sub">
                <table>
                  <tr class="space">
                    <td><span class="text">Placement</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Campus</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <tr>
                    <td><span class="text">Hostel</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Mess</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                </table>
              </div>
              <div class="overall">
                <div class="main-text">Overall Rating</div>
                <div class="box">4.6</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="navBar">
              <span class="img"
                ><img src="/assets/cardSlider/img1.jpg" alt=""
              /></span>
              <span class="name">Yogesh Sahu</span>
            </div>
            <div class="bio">
              <div class="college">
                Silchar Medical College and Hospital (SMCH), Silchar
              </div>
              <div class="filed">MBBS/Biotech</div>
              <div class="caption">
                <p>
                  "I graduated from ds college purnea University purnea. Now i
                  am preparing for government job like my aim is to crack bihar
                  police exam."
                </p>
              </div>
            </div>
            <div class="rating">
              <div class="sub">
                <table>
                  <tr class="space">
                    <td><span class="text">Placement</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Campus</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <tr>
                    <td><span class="text">Hostel</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Mess</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                </table>
              </div>
              <div class="overall">
                <div class="main-text">Overall Rating</div>
                <div class="box">4.6</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="navBar">
              <span class="img"
                ><img src="/assets/cardSlider/img1.jpg" alt=""
              /></span>
              <span class="name">Nikhil Solanki</span>
            </div>
            <div class="bio">
              <div class="college">
                Silchar Medical College and Hospital (SMCH), Silchar
              </div>
              <div class="filed">MBBS/Biotech</div>
              <div class="caption">
                <p>
                  "Lots of knowledgeable books are available in our college
                  library. Classroom are well managed. Sports is the strongest
                  facility of our college."
                </p>
              </div>
            </div>
            <div class="rating">
              <div class="sub">
                <table>
                  <tr class="space">
                    <td><span class="text">Placement</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Campus</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <tr>
                    <td><span class="text">Hostel</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Mess</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                </table>
              </div>
              <div class="overall">
                <div class="main-text">Overall Rating</div>
                <div class="box">4.6</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="navBar">
              <span class="img"
                ><img src="/assets/cardSlider/img1.jpg" alt=""
              /></span>
              <span class="name">Vishnu Mahawar</span>
            </div>
            <div class="bio">
              <div class="college">
                Silchar Medical College and Hospital (SMCH), Silchar
              </div>
              <div class="filed">MBBS/Biotech</div>
              <div class="caption">
                <p>
                  "I graduated from ds college purnea University purnea. Now i
                  am preparing for government job like my aim is to crack bihar
                  police exam."
                </p>
              </div>
            </div>
            <div class="rating">
              <div class="sub">
                <table>
                  <tr class="space">
                    <td><span class="text">Placement</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Campus</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <tr>
                    <td><span class="text">Hostel</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Mess</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                </table>
              </div>
              <div class="overall">
                <div class="main-text">Overall Rating</div>
                <div class="box">4.6</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="navBar">
              <span class="img"
                ><img src="/assets/cardSlider/img1.jpg" alt=""
              /></span>
              <span class="name">Deepak Masar</span>
            </div>
            <div class="bio">
              <div class="college">
                Silchar Medical College and Hospital (SMCH), Silchar
              </div>
              <div class="filed">MBBS/Biotech</div>
              <div class="caption">
                <p>
                  "Lots of knowledgeable books are available in our college
                  library. Classroom are well managed. Sports is the strongest
                  facility of our college."
                </p>
              </div>
            </div>
            <div class="rating">
              <div class="sub">
                <table>
                  <tr class="space">
                    <td><span class="text">Placement</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Campus</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <tr>
                    <td><span class="text">Hostel</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Mess</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                </table>
              </div>
              <div class="overall">
                <div class="main-text">Overall Rating</div>
                <div class="box">4.6</div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="navBar">
              <span class="img"
                ><img src="/assets/cardSlider/img1.jpg" alt=""
              /></span>
              <span class="name">Khemchand Nagar</span>
            </div>
            <div class="bio">
              <div class="college">
                Silchar Medical College and Hospital (SMCH), Silchar
              </div>
              <div class="filed">MBBS/Biotech</div>
              <div class="caption">
                <p>
                  "I graduated from ds college purnea University purnea. Now i
                  am preparing for government job like my aim is to crack bihar
                  police exam."
                </p>
              </div>
            </div>
            <div class="rating">
              <div class="sub">
                <table>
                  <tr class="space">
                    <td><span class="text">Placement</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Campus</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <hr />
                  <tr>
                    <td><span class="text">Hostel</span></td>
                    <td><span class="box">5.0</span></td>
                    <td><span class="text">Mess</span></td>
                    <td><span class="box">3.0</span></td>
                  </tr>
                </table>
              </div>
              <div class="overall">
                <div class="main-text">Overall Rating</div>
                <div class="box">4.6</div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-area">
          <button class="prev" appPrev><</button>
          <button class="next" appNext>></button>
        </div>
      </div>
    </div>
  </section>
</body>
