<div class="container">
  <h3>Facilites</h3>
  <div class="row">
    <div class="hostel box">
      <h6>Hostel</h6>
      <i class="fa fa-building" aria-hidden="true"></i>
      <div class="tag">NORMAL</div>
    </div>
    <div class="canteen box">
      <h6>Canteen</h6>
      <i class="fa fa-building" aria-hidden="true"></i>
      <div class="tag">HOT</div>
    </div>
    <div class="gym box">
      <h6>Gym</h6>
      <i class="fa fa-building" aria-hidden="true"></i>
      <div class="tag">GOOD</div>
    </div>
    <div class="sports box">
      <h6>Sports</h6>
      <i class="fa fa-building" aria-hidden="true"></i>
      <div class="tag">NORMAL</div>
    </div>
    <div class="wifi box">
      <h6>Wifi</h6>
      <i class="fa fa-wifi" aria-hidden="true"></i>
      <div class="tag">HOT</div>
    </div>
    <div class="hospital box">
      <h6>Hospital</h6>
      <i class="fa fa-medkit" aria-hidden="true"></i>
      <div class="tag">NORMAL</div>
    </div>
    <div class="library box">
      <h6>Library</h6>
      <i class="fa fa-book" aria-hidden="true"></i>
      <div class="tag">HOT</div>
    </div>
  </div>

  <h4 class="info">Detailed Info</h4>
  <div class="cube">
    <h4 class="hostel">
      <i class="fa fa-building" aria-hidden="true"> </i>Hostel
    </h4>
    <p>
      IIM- A has 25 student dormitories with a total capacity to hold about 740
      occupants. Apart from the dormitories, there are separate housing
      facilities available for married candidates. The dorms have ten single
      rooms on each floor arranged around a stairway and a tearoom. Both
      vegetarian and non-vegetarian meals are served. The rooms are fully
      furnished including a telephone connection. The dorms also have a T.V.,
      washing machine and refrigerator. Boys HostelSingle Occupancy|Shared
      Rooms|In-Campus Hostel, Girls HostelSingle Occupancy|Shared
      Rooms|In-Campus Hostel
    </p>
    <div class="table">
      <table>
        <tr>
          <th>hostel fee</th>
          <th>other expenses</th>
          <th>duration</th>
        </tr>
        <tr>
          <td>50k</td>
          <td>20k</td>
          <td>2 Years</td>
        </tr>
        <tr>
          <th>Total living cost - <span>1 lakh</span></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="cube">
    <h4 class="canteen">
      <i class="fa fa-building" aria-hidden="true"> </i>Canteen
    </h4>
    <p>
      Just enter this college, u will get to know what u have achieved. Just a
      single word for campus life, academics, placements and all the other
      things u can think of -- AWESOME....
    </p>
  </div>
  <div class="cube">
    <h4 class="library">
      <i class="fa fa-book" aria-hidden="true"></i>Library
    </h4>
    <p>
      IIM Ahmedabad Vikram Sarabhai Library has a collection of over 1,94,704
      books, 19815 online and 146 print journals, 46,024 bound volumes, 2624
      working papers, 349 thesis, 2187 student's project reports. It offers
      access to current, global and relevant information in various formats
      (print & non-print) to serve the information needs of the academic
      fraternity. The strength of the library is its digital collection of 71
      databases, accessible from any networked computer within the campus which
      provides scholarly, company and industry information. Open carrels are
      provided in the stack area for individual study. IIMA library provides
      specialized tools like EBSCO Discovery. It also provides RemoteXS facility
      to current students and faculty.
    </p>
  </div>
  <div class="more">
    <button>
      MORE
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
  </div>
</div>
