.cube {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  width: 75vw;
  padding: 1em;
  margin: 1em .5em;
}

.box {
  background: rgba(217, 217, 217, 0.34);
  border-radius: 10px;
  padding: 1em;
}

.table {
  display: grid;
  justify-content: center;
  align-items: center;
}

.table table {
  border-collapse: collapse;
  /* box-shadow: 0 5px 10px; */
  /* border: 0.1px solid black; */
  margin: 1em;
  background-color: none;
  text-align: center;
}

.table td {
  border: none;
}

.table .border {
  width: 50vw;
  height: 1vh;
}

.line {
  background: #d9d9d9;
  border-radius: 20px;
}

.colorLine {
  border-radius: 20px;
}

.green {
  border: 4px solid #a1ea67;
  width: 40vw;
}

.red {
  border: 4px solid #ea7f67;
  width: 20vw;
}

.box{
    margin: 1em;
}

.pieChart {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.x-box{
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  background-color: green;
  /* background: repeating-conic-gradient(
    from 0deg,
    #5368F0 0deg 90deg,
    #9D57D5 90deg 180deg,
    #FEAB00 calc(3.6deg * 35) calc(3.6deg * 70)
    #FF3131 calc(3.6deg * 70) calc(3.6deg * 100)
  ); */
  background: conic-gradient(#5368F0 60deg, #9D57D5 60deg 120deg, #FEAB00 120deg 240deg, #FF3131 240deg);
}

.x-box-cont h1{
font-size: 30px;
text-transform: uppercase;
}

.x-box-cont{
  display: flex;
  flex-direction: column;
  margin: 10em 5em;
  text-align: start;
}

.x-box-cont strong{
  margin: 1em;
}

/* .chart{
  rotate: 90deg;
} */