<div class="container">
  <div class="cube">
    <h3>Placement</h3>
    <div class="box">
      <h6>highest and average package for MBA/PGDM</h6>
      <div class="table">
        <table>
          <tr>
            <td>highest <i class="fa fa-arrow-up" aria-hidden="true"></i></td>
            <td class="border">
              <div class="line"><div class="colorLine green"></div></div>
            </td>
            <td>50L</td>
          </tr>
          <tr>
            <td>average <i class="fa fa-arrow-down" aria-hidden="true"></i></td>
            <td class="border">
              <div class="line"><div class="colorLine red"></div></div>
            </td>
            <td>15L</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="box">
      <h6>Industry average package for MBA/PGDM</h6>
      <div class="table">
        <table>
          <tr>
            <td>highest <i class="fa fa-arrow-up" aria-hidden="true"></i></td>
            <td class="border">
              <div class="line"><div class="colorLine green"></div></div>
            </td>
            <td>50L</td>
          </tr>
          <tr>
            <td>average <i class="fa fa-arrow-down" aria-hidden="true"></i></td>
            <td class="border">
              <div class="line"><div class="colorLine red"></div></div>
            </td>
            <td>15L</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="cube">
    <h3>Recruiters</h3>
    <img src="/assets/recruiters/1.jpeg" alt="" />
  </div>
  <div class="cube">
    <div class="topic">
      <h3>IIMA MBA placments 2022 : sector wise</h3>
    </div>
    <div class="pieChart">
      <div class="x-box"></div>
      <div class="x-box-cont">
        <strong style="color:#5368F0">Consulting</strong>
        <strong style="color:#9D57D5;">BFSI</strong>
        <strong style="color:#FEAB00">IT</strong>
        <strong style="color:#FF3131">Online Services</strong>
      </div>
    </div>
  </div>
  <!-- <circle-progress class="chart" [radius]="70" [showInnerStroke]="false" [percent]="50" [showTitle]="false" [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="40"></circle-progress> -->
</div>
