<body>
  <div class="container">
    <h4>Why candidates opt for IIM Ahmedabad?</h4>
    <ul>
      <li>
        IIM Ahmedabad is known for budding the eminent managers. It is believed
        by the alumni of the institute that the academic vigor provided by the
        institute, enables the candidate to meet the deadlines efficiently. The
        Institute also conducts events and discussions which enhances the
        efficiency of its students. The experience gained in IIM Ahmedabad is
        entirely different from book-based studies.
      </li>
      <li>
        The Institute with rich legacy is also known for its Faculty having
        extremely renowned academicians, professors, and management thinkers.
        The faculty members of IIMs emphasize generating wonderful insights
        along with maintaining the excellence of the institute.
      </li>
      <li>
        The Institute also has a strong alumni network with corporate
        professionals from the most prestigious corporations. Freshers who are
        willing to start up or start out are provided huge support by the alumni
        network.
      </li>
    </ul>
  </div>
</body>
