<body>
  <div class="container">
    <h3>Compare with similar colleges</h3>

    <div class="table">
      <table>
        <tr>
          <td></td>
          <td>
            <img src="/assets/compareColleges/1.jpeg" alt="">
            <div class="name">Indian Institute of Management</div>
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Ahmedabad,
              Gujrat
            </div>
            <div>
              <button class="rqst">
                <i class="fa fa-share" aria-hidden="true"></i>
                Request to apply
              </button>
            </div>
            <hr />
          </td>
          <td>
            <img src="/assets/compareColleges/2.jpeg" alt="">
            <div class="name">Narayana Business School</div>
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Ahmedabad,
              Gujrat
            </div>
            <div>
              <button class="rqst">
                <i class="fa fa-share" aria-hidden="true"></i>
                Request to apply
              </button>
            </div>
            <hr />
          </td>
          <td>
            <img src="/assets/compareColleges/3.jpeg" alt="">
            <div class="name">Ganpat University</div>
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Ahmedabad,
              Gujrat
            </div>
            <div>
              <button class="rqst">
                <i class="fa fa-share" aria-hidden="true"></i>
                Request to apply
              </button>
            </div>
            <hr />
          </td>
          <td>
            <img src="/assets/compareColleges/4.jpeg" alt="">
            <div class="name">Parul University</div>
            <div class="location">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Valsad, Gujrat
            </div>
            <div>
              <button class="rqst">
                <i class="fa fa-share" aria-hidden="true"></i>
                Request to apply
              </button>
            </div>
            <hr />
          </td>
        </tr>
        <tr class="space">
          <thead>
            Courses
          </thead>
          <td class="bg">MBA</td>
          <td class="bg">MBA</td>
          <td class="bg">MBA</td>
          <td class="bg">MBA</td>
        </tr>
        <tr>
          <thead>
            Fees
          </thead>
          <td>22,00,000 for 2 Years</td>
          <td>16,00,000 for 2 Years</td>
          <td>14,00,000 for 2 Years</td>
          <td>40,00,000 for 2 Years</td>
        </tr>
        <tr>
          <thead>
            Package
          </thead>
          <td class="package">Highest - 50 LPA Average - 18.26 LPA</td>
          <td class="package">Highest - 40 LPA Average - 18.26 LPA</td>
          <td class="package">Highest - 30 LPA Average - 7 LPA</td>
          <td class="package">Highest - 20 LPA Average - 5 LPA</td>
        </tr>
        <tr>
          <thead>
            Ratings
          </thead>
          <td>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </td>
          <td>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </td>
          <td>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </td>
          <td>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </td>
        </tr>
        <tr>
          <thead>
            Form fees
          </thead>
          <td class="line">---</td>
          <td class="line">---</td>
          <td class="line">---</td>
          <td class="line">---</td>
        </tr>
        <tr>
          <thead>
            Last date of application
          </thead>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
      </table>
    </div>
  </div>
</body>
