<body>
  <div class="container">
    <div class="card">
      <div class="pics">
        <div class="big">
          <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (1).jpeg"alt=""/>
        </div>
        <div class="small">
          <div class="line">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM (2).jpeg"alt=""/>
          <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.21 PM.jpeg" alt="">
          <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (1).jpeg"alt=""/>
          </div>
          <div class="line">
            <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (2).jpeg"alt=""/>
          <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (3).jpeg"alt=""/>
          <img src="/assets/hostelRooms/WhatsApp Image 2022-07-26 at 1.01.22 PM (4).jpeg"alt=""/>
          </div>
        </div>
      </div>
      <div class="r1">
        <div class="tag">
          <h3>Sanju Hostel</h3>
          <div class="rating">Overall rating: <span>4.5</span></div>
        </div>
      </div>
      <div class="r2">
        <div class="tag">
          <p class="light">
            Near Aura Mall Trilanaga Behind Bank of Baroda, Bhopal
          </p>
          <p>
            If a budget-friendly and well-connected accommodation option is what
            you are looking for during your stay in Bhopal, then Treebo Trend
            Raj Residency in the main thoroughfares of MP Nagar Zone-1 would be
            your ideal choice. It comes with all the conveniences for your
            comfort and also provides adequate sanitation under Treebo Hygiene
            Shield safety standards.
          </p>
        </div>
      </div>
      <div class="r3">
        <div class="tag">
          <div><i class="fa fa-wifi" aria-hidden="true"></i> Wifi</div>
          <div>
            <i class="fa fa-user-md" aria-hidden="true"></i> Doctor on call
          </div>
          <div><i class="fa fa-paypal" aria-hidden="true"></i> Parking</div>
          <div>
            <i class="fa fa-coffee" aria-hidden="true"></i>
            Breakfast
          </div>
          <div>
            <i class="fa fa-coffee" aria-hidden="true"></i>
            Laundry
          </div>
        </div>
      </div>
      <div class="r4">
        <div class="tag">
          <div class="rate">Rs 3000/-</div>
          <div class="colorTags">
            <div class="pink">
              <a href="#"> Book Now </a>
            </div>
            <div class="yellow">
              <a href="#"> Contact </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
