<body>
  <div class="container">
    <!-- <div class="main">
      <h2>Find best way to</h2>
      <h2>to your Dream</h2>
    </div> -->

    <div class="row1">
      <div class="Rectangle-3239"></div>
      <div class="Rectangle-3236"></div>
      <div class="Rectangle-3242"></div>
      <div class="Rectangle-3204"></div>
      <div class="Rectangle-3207"></div>
      <div class="Rectangle-3202"></div>
      <div class="Rectangle-3205"></div>
    </div>

    <div class="row2">
      <div class="Rectangle-3237"></div>
      <div class="Rectangle-3235"></div>
      <div class="Rectangle-3199"></div>
      <div class="Rectangle-3201"></div>
    </div>

    <div class="row3">
      <div class="Rectangle-3241"></div>
      <div class="Rectangle-3238"></div>
      <div class="Rectangle-3243"></div>
      <div class="Rectangle-3240"></div>
      <div class="Rectangle-3206"></div>
      <div class="Rectangle-3200"></div>
      <div class="Rectangle-3203"></div>
    </div>
  </div>
</body>
