<nav class="col-12">
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">find.college</label>
  <ul>
    <li><a href="#">Colleges</a></li>
    <li><a href="#">Exams</a></li>
    <li><a href="#">Courses</a></li>
    <li><a href="#">Career</a></li>
    <li><a href="#" id="underline">More</a></li>
    <li><a href="#" id="login">Login</a></li>
    <li><a href="#" id="blackBox">Get Started</a></li>
  </ul>
</nav>
