<body>
  <h1>Lets get it on !</h1>
  <div class="wrapper">
    <div class="cards">
      <div class="circle">
        <img src="/assets/curveCard/Component 1.png" alt="" />
      </div>
      <div class="text">
        <p>Explore</p>
        <p>Colleges</p>
      </div>
    </div>
    <div class="cards down">
      <div class="circle">
        <img src="/assets/curveCard/Component 2.png" alt="" />
      </div>
      <div class="text">
        <p>Find Counsellor</p>
        <p>for guidance</p>
      </div>
    </div>
    <div class="cards">
      <div class="circle">
        <img src="/assets/curveCard/Component 3.png" alt="" />
      </div>
      <div class="text">
        <p>New application</p>
        <p>forms</p>
      </div>
    </div>
    <div class="cards down">
      <div class="circle">
        <img src="/assets/curveCard/Component 4.png" alt="" />
      </div>
      <div class="text">
        <p>Study</p>
        <p>Aboard</p>
      </div>
    </div>
    <div class="cards">
      <div class="circle">
        <img src="/assets/curveCard/Component 5.png" alt="" />
      </div>
      <div class="text">
        <p>Most helpful</p>
        <p>reviews</p>
      </div>
    </div>
  </div>
</body>
