<h2>Similar colleges you might like</h2>
<div class="row1">
    <a routerLink="../college-details">
      <div class="card">
        <img src="/assets/collegePics/college.jpg" alt="" />
        <div class="r1">
          <div class="tag">
            Courses :
            <span>MBA</span>
            <span>FPM</span>
            <span>PHD</span>
            <span>PGPX</span>
            <span>AFP</span>
            <span>EEP</span>
          </div>
        </div>
        <div class="r2">
          <div class="tag">
            Fees :
            <span>10L (2 Year)</span>
          </div>
        </div>
        <div class="r3">
          <div class="tag">
            Exams accepted :
            <span>CAT</span>
            <span>GMAT</span>
            <span>GRE</span>
          </div>
        </div>
        <div class="r4">
          <div class="tag">
            Overall rating :
            <span class="boxYellow">4.5</span>
            <span class="nirf">NIRF Rank #2</span>
          </div>
        </div>
        <div class="colorTags">
          <div class="pink">
            <a href="#">
              <i class="fa fa-user" aria-hidden="true"></i>
              Start Application
            </a>
          </div>
          <div class="yellow">
            <a href="#">
              <i class="fa fa-cloud" aria-hidden="true"></i>
              Brochure
            </a>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="../college-details">
      <div class="card">
        <img src="/assets/collegePics/college.jpg" alt="" />
        <div class="r1">
          <div class="tag">
            Courses :
            <span>MBA</span>
            <span>FPM</span>
            <span>PHD</span>
            <span>PGPX</span>
            <span>AFP</span>
            <span>EEP</span>
          </div>
        </div>
        <div class="r2">
          <div class="tag">
            Fees :
            <span>10L (2 Year)</span>
          </div>
        </div>
        <div class="r3">
          <div class="tag">
            Exams accepted :
            <span>CAT</span>
            <span>GMAT</span>
            <span>GRE</span>
          </div>
        </div>
        <div class="r4">
          <div class="tag">
            Overall rating :
            <span class="boxYellow">4.5</span>
            <span class="nirf">NIRF Rank #2</span>
          </div>
        </div>
        <div class="colorTags">
          <div class="pink">
            <a href="#">
              <i class="fa fa-user" aria-hidden="true"></i>
              Start Application
            </a>
          </div>
          <div class="yellow">
            <a href="#">
              <i class="fa fa-cloud" aria-hidden="true"></i>
              Brochure
            </a>
          </div>
        </div>
      </div>
    </a>        
    <a routerLink="../college-details">
      <div class="card">
        <img src="/assets/collegePics/college.jpg" alt="" />
        <div class="r1">
          <div class="tag">
            Courses :
            <span>MBA</span>
            <span>FPM</span>
            <span>PHD</span>
            <span>PGPX</span>
            <span>AFP</span>
            <span>EEP</span>
          </div>
        </div>
        <div class="r2">
          <div class="tag">
            Fees :
            <span>10L (2 Year)</span>
          </div>
        </div>
        <div class="r3">
          <div class="tag">
            Exams accepted :
            <span>CAT</span>
            <span>GMAT</span>
            <span>GRE</span>
          </div>
        </div>
        <div class="r4">
          <div class="tag">
            Overall rating :
            <span class="boxYellow">4.5</span>
            <span class="nirf">NIRF Rank #2</span>
          </div>
        </div>
        <div class="colorTags">
          <div class="pink">
            <a href="#">
              <i class="fa fa-user" aria-hidden="true"></i>
              Start Application
            </a>
          </div>
          <div class="yellow">
            <a href="#">
              <i class="fa fa-cloud" aria-hidden="true"></i>
              Brochure
            </a>
          </div>
        </div>
      </div>
    </a>
    <div class="button-area">
        <button class="prev" appPrev><</button>
        <button class="next" appNext>></button>
      </div>    
  </div>