<body>
  <div class="container">
    <div class="main">
      <div class="logo"><h2>find.college</h2></div>
      <div class="mail"><input type="email" /></div>
      <div class="password"><input type="password" /></div>
      <div>
        <a href="#"><button>Login</button></a>
        <span class="blue">Forgot Password</span>
      </div>
      <div class="signup blue">Create New Account</div>
      <div class="copyright blue">
        @ 2021-2022 find college. All rights reserved.
      </div>
    </div>
  </div>
</body>