<head>
  <!-- ===== Fontawesome CDN Link ===== -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
</head>
<body>
  <div class="container">
    <div class="content">
      <h2>find your college</h2>
      <h3>Explore 2500+ Colleges, 200+ Exams and more</h3>
      <p>
        Reset your research strategy by browsing through our lists of top colleges, exams,
      </p>
      <p>courses and careers based on your areas of internet.</p>
    </div>
    <div class="main">
      <table>
        <tr>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
            </div>
            <div class="text">Engineer</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-plus-square" aria-hidden="true"></i>
            </div>
            <div class="text">Medical</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-usd" aria-hidden="true"></i>
            </div>
            <div class="text">Commerce</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-paint-brush" aria-hidden="true"></i>
            </div>
            <div class="text">Fine art</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-cubes" aria-hidden="true"></i>
            </div>
            <div class="text">Design</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-bar-chart" aria-hidden="true"></i>
            </div>
            <div class="text">Business</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-building" aria-hidden="true"></i>
            </div>
            <div class="text">Management</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-tree" aria-hidden="true"></i>
            </div>
            <div class="text">Agriculture</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-microphone" aria-hidden="true"></i>
            </div>
            <div class="text">Communication</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-laptop" aria-hidden="true"></i>
            </div>
            <div class="text">Computer</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-balance-scale" aria-hidden="true"></i>
            </div>
            <div class="text">Law</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-medkit" aria-hidden="true"></i>
            </div>
            <div class="text">Pharmacy</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-male" aria-hidden="true"></i>
            </div>
            <div class="text">Humanities</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="text">Teaching</div>
          </td>
          <td>
            <div class="icon">
              <i class="fa fa-2x fa-video-camera" aria-hidden="true"></i>
            </div>
            <div class="text">Film making</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
