<body>
  <div class="container">
    <div class="content">
      <h2>Study Abroad</h2>
      <h3>Find the best college outside country</h3>
      <p>
        our community will guide you and give the best advice for you career you
        will be
      </p>
      <p>at the best college you never knew you needed</p>
    </div>

    <div class="main">
      <div class="row1">
        <div class="card">
          <div class="img">
            <img src="/assets/countryCards/usa.png" alt="image" />
          </div>
          <div class="text">Study in USA</div>
        </div>
        <div class="card">
          <div class="img">
            <img src="/assets/countryCards/uk.png" alt="image" />
          </div>
          <div class="text">Study in UK</div>
        </div>
        <div class="card">
          <div class="img">
            <img src="/assets/countryCards/canada.png" alt="image" />
          </div>
          <div class="text">Study in Canada</div>
        </div>
      </div>
      <div class="row2">
        <div class="card">
          <div class="img">
            <img src="/assets/countryCards/russia.png" alt="image" />
          </div>
          <div class="text">Study in Russia</div>
        </div>
        <div class="card">
          <div class="img">
            <img src="/assets/countryCards/germany.png" alt="image" />
          </div>
          <div class="text">Study in Germany</div>
        </div>
        <div class="card">
          <div class="img">
            <img src="/assets/countryCards/spain.png" alt="image" />
          </div>
          <div class="text">Study in Spain</div>
        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <a routerLink="../explore-college"> <button>Explore College</button></a>
  </div>
</body>
