<div class="content">
  <div class="table">
    <table>
      <thead>
        <th>Courses</th>
        <th>Fees</th>
        <th>Duration</th>
        <th>Eligibiltyy</th>
      </thead>
      <tbody>
        <tr>
          <td>MBA</td>
          <td>INR 15 Lakhs</td>
          <td>2 Years</td>
          <td>Graduation: 50%</td>
        </tr>
        <tr>
          <td>PGPM</td>
          <td>INR 10.23 Lakhs</td>
          <td>2 Years</td>
          <td>Graduation: 55%</td>
        </tr>
        <tr>
          <td>PHD</td>
          <td>INR 11 Lakhs</td>
          <td>2 Years</td>
          <td>Graduation: 55%</td>
        </tr>
        <tr>
          <td>PGPX</td>
          <td>INR 11 Lakhs</td>
          <td>4 Years</td>
          <td>10 + 2</td>
        </tr>
        <tr>
          <td>PGP-FABM</td>
          <td>INR 13 Lakhs</td>
          <td>3 Years</td>
          <td>Graduation: 50%</td>
        </tr>
        <tr>
          <td>AFP</td>
          <td>INR 11 Lakhs</td>
          <td>2 Years</td>
          <td>Graduation: 55%</td>
        </tr>
        <tr>
          <td>FDP</td>
          <td>INR 14.6 Lakhs</td>
          <td>3 Years</td>
          <td>Graduation: 55%</td>
        </tr>
        <tr>
          <td>EPGD</td>
          <td>INR 11 Lakhs</td>
          <td>4 Years</td>
          <td>10 + 2</td>
        </tr>
        <tr>
          <td>EEP</td>
          <td>INR 11 Lakhs</td>
          <td>6 Years</td>
          <td>Graduation: 50%</td>
        </tr>
        <tr>
          <td>EPGP</td>
          <td>INR 16 Lakhs</td>
          <td>2 Years</td>
          <td>Graduation: 55%</td>
        </tr>
        <tr>
          <td>FPM</td>
          <td>INR 11 Lakhs</td>
          <td>2 Years</td>
          <td>Graduation: 55%</td>
        </tr>
        <tr>
          <td>MMS</td>
          <td>INR 12 Lakhs</td>
          <td>3 Years</td>
          <td>10 + 2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="info">
    <h4>Courses Info</h4>
    <h6>Looking for Specifics course?</h6>
    <hr />

    <h6>Popular Courses</h6>
    <span class="border">MBA</span>
    <span class="border">PGP</span>
    <span class="border">FPM</span>
    <div class="row">
      <div class="box">
        <h5>Masters of Business Administration (MBA)</h5>
        <div class="table2">
          <table>
            <tr>
              <td>Seats :</td>
              <td>300</td>
              <td>Exam :</td>
              <td>CAT</td>
            </tr>
            <tr>
              <td>Fees :</td>
              <td>INR 10 lakhs</td>
              <td>Duration :</td>
              <td>2 Years</td>
            </tr>
          </table>
          <button class="details">View Details</button>
        </div>
      </div>
      <div class="box">
        <h5>Masters of Business Administration (MBA)</h5>
        <div class="table2">
          <table>
            <tr>
              <td>Seats :</td>
              <td>300</td>
              <td>Exam :</td>
              <td>CAT</td>
            </tr>
            <tr>
              <td>Fees :</td>
              <td>INR 10 lakhs</td>
              <td>Duration :</td>
              <td>2 Years</td>
            </tr>
          </table>
          <button class="details">View Details</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <h5>Masters of Business Administration (MBA)</h5>
        <div class="table2">
          <table>
            <tr>
              <td>Seats :</td>
              <td>300</td>
              <td>Exam :</td>
              <td>CAT</td>
            </tr>
            <tr>
              <td>Fees :</td>
              <td>INR 10 lakhs</td>
              <td>Duration :</td>
              <td>2 Years</td>
            </tr>
          </table>
          <button class="details">View Details</button>
        </div>
      </div>
      <div class="box">
        <h5>Masters of Business Administration (MBA)</h5>
        <div class="table2">
          <table>
            <tr>
              <td>Seats :</td>
              <td>300</td>
              <td>Exam :</td>
              <td>CAT</td>
            </tr>
            <tr>
              <td>Fees :</td>
              <td>INR 10 lakhs</td>
              <td>Duration :</td>
              <td>2 Years</td>
            </tr>
          </table>
          <button class="details">View Details</button>
        </div>
      </div>
    </div>
    <div class="more">
      <button>
        MORE
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
