<body>
  <div class="container">
    <div class="filter-bar">
      <div class="box">
        <h3>State</h3>
        <input type="text" placeholder="Search" />
        <div class="text"><input type="checkbox" />Andhra Pradesh</div>
        <div class="text"><input type="checkbox" />Assam</div>
        <div class="text"><input type="checkbox" />Arunachal Pradesh</div>
        <div class="text"><input type="checkbox" />Bihar</div>
      </div>
      <div class="box">
        <h3>Degree</h3>
        <input type="text" placeholder="Search" />
        <div class="text"><input type="checkbox" />MBA</div>
        <div class="text"><input type="checkbox" />FPM</div>
        <div class="text"><input type="checkbox" />PHD</div>
        <div class="text"><input type="checkbox" />AFP</div>
      </div>
      <div class="box">
        <h3>Specialization</h3>
        <input type="text" placeholder="Search" />
        <div class="text"><input type="checkbox" />Business</div>
        <div class="text"><input type="checkbox" />Finance</div>
        <div class="text"><input type="checkbox" />Marketing</div>
        <div class="text"><input type="checkbox" />General Mangement</div>
      </div>
      <div class="box">
        <h3>Avg Fee</h3>
        <input type="text" placeholder="Search" />
        <div class="text"><input type="checkbox" />9L-10L</div>
        <div class="text"><input type="checkbox" />10L-15L</div>
        <div class="text"><input type="checkbox" />15L-20L</div>
        <div class="text"><input type="checkbox" />20L-30L</div>
      </div>
      <div class="box">
        <h3>Institute type</h3>
        <input type="text" placeholder="Search" />
        <div class="text"><input type="checkbox" />Govnt</div>
        <div class="text"><input type="checkbox" />Private</div>
        <div class="text"><input type="checkbox" />Public</div>
        <div class="text"><input type="checkbox" />Semi Govnt</div>
      </div>
      <div class="box">
        <h3>Exam</h3>
        <input type="text" placeholder="Search" />
        <div class="text"><input type="checkbox" />CAT</div>
        <div class="text"><input type="checkbox" />JEE</div>
        <div class="text"><input type="checkbox" />NEET</div>
        <div class="text"><input type="checkbox" />GATE</div>
      </div>
    </div>
    <div class="main">

      <div class="sort">
        <div class="checked">
          Selected filters | 
          <span>MBA</span>
          <span>10L Fee</span>
          <span>Finance</span>
        </div>
        <div class="sortby">
          Sort by 
          <span>NIRF Rank</span>
          <span>Popularity</span>
          <span>Rating</span>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row1" >
          <div class="card" *ngFor="let college of college_Details" routerLink="../college-details" (click)="saveId(college);">
            <img src="{{college.coverimage}}" alt="" />
            <div class="r1">
              <div class="tag">
                Courses :
                <span>MBA</span>
                <span>FPM</span>
                <span>PHD</span>
                <span>PGPX</span>
                <span>AFP</span>
                <span>EEP</span>
              </div>
            </div>
            <div class="r2">
              <div class="tag">
                Fees :
                <span>10L (2 Year)</span>
              </div>
            </div>
            <div class="r3">
              <div class="tag">
                Exams accepted :
                <span>CAT</span>
                <span>GMAT</span>
                <span>GRE</span>
              </div>
            </div>
            <div class="r4">
              <div class="tag">
                Overall rating :
                <span class="boxYellow">4.5</span>
                <span class="nirf">NIRF Rank #2</span>
              </div>
            </div>
            <div class="colorTags">
              <div class="pink">
                <a href="#">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  Start Application
                </a>
              </div>
              <div class="yellow">
                <a href="#">
                  <i class="fa fa-cloud" aria-hidden="true"></i>
                  Brochure
                </a>
              </div>
            </div>
          </div>
      </div>


      <div class="page">
        <span>Previous</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span class="next">Next</span>
      </div>
    </div>
  </div>
</body>